/*  
#4a4a4a (Texto del menú)
#3CDBC0 (Color de fondo de la página)
#FFFFFF (Color de texto de "Creando diversidad digital")
*/

:root {
    --band-color: #3CDBC0;
    --gray-color: #4a4a4a;

}

html {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.header {
    background-color: #fff;
    position:fixed;
    width: 100vw;
}

.logo {
    width: 155px;
    display: block;
    margin: 10px auto;
}

.nav-bar {
    width: 155px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 13px auto;
    text-transform: uppercase;
    font-size: 16px;
}

.link {
    text-decoration: none;
    color: var(--gray-color);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--band-color);
}

.lema {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: auto 60px;
    text-align: center;
    
}
